<div class="row mb-3">
  <div class="col-12"  style='aspect-ratio: 1920/200'>
    <a href="">
      <img src="<%= Setting.column_channel_top_image_url%>" width='100%' alt="">
    </a>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
  <div class="card">
    <div class="card-body">
      <%= render 'left' %>
    </div>
  </div>
  </div>


  <div class="col-lg-7">
    <div class="topics card">
      <div class="card-body item-list">
        <%= render partial: 'topic', collection: @topics, locals: { suggest: false } %>
      </div>

      <% if  @topics.total_pages > 1 %>
      <div class="card-footer clearfix">
        <%= paginate @topics %>
      </div>
      <% end %>


    </div>
  </div>


  <div class="col-lg-3">
    <%= render 'right' %>
  </div>


</div>
