<% cache([topic, topic.user_avatar_raw, suggest]) do %>
<div class="topic media topic-<%= topic.id %>">
  <div class="avatar media-left">
    <%= user_avatar_tag(topic.user, :md) %>
  </div>
  <div class="infos media-body">
    <div class="title media-heading">
      <%= link_to(topic.title, send("#{topic.class.name.downcase}_path", topic), title: topic.title) %>
      <% if suggest %>
        <i class="fa fa-thumb-tack" title="置顶"></i>
      <% end %>
      <%= topic_excellent_tag(topic) %>
      <%= topic_close_tag(topic) %>
    </div>
    <div class="info">
      <%= user_name_tag(topic.user) %>
      <% if topic.team %>
          for <%= user_name_tag(topic.team) %>
      <% end %>
    </div>
  </div>
  <div class="count media-right">
    <% if topic.replies_count > 0 %>
      <%= link_to(topic.replies_count,"#{main_app.topic_path(topic)}#reply-#{topic.last_reply_id}", class: "state-false") %>
    <% end %>
  </div>
</div>
<% end %>
