<% if !mobile? %>
  <div class="hide-ios">
    <%= raw Setting.index_html %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-9 home-main">
    <%= raw Setting.index_roll_card_html %>
    <%= render "home/topics" %>
    <%= render "home/hot_nodes" %>
    <%= render "/shared/hot_locations" %>
    <%= raw Setting.index_footer_card_html %>
  </div>
  <div class="col-md-3 home-side-bar">
    <%= render "home/sidebar_for_home_index" %>
  </div>
</div>
