<%= content_for :javascripts do %>

      <%= javascript_packs_with_chunks_tag "hls" %>


 
<% end %>

<span id="article_info_url" style='display:none'><%= @article_info[:video] %></span>
      

<div class='tw-bg-white tw-my-4 tw-p-3 tw-rounded-sm'>
  <h1 class='tw-m-3 tw-text-lg'><%= @details.dig(:course, :title) %></h1>
  <p class='my-4 tw-text-gray-500 tw-text-sm'><%= @details.dig(:course, :subtitle) %></p>

  <div class="player">
      <video class='w-full' id="video" controls></video>

      
  </div>

  <hr class='tw-my-6' />


  <div class=' tw-w-full tw-overflow-auto tw-prose-base course-details'>
    <%== @article_info[:content] %>
  </div>
</div>
  