<div class='tw-bg-white'>
  <div class="mx-auto tw-container tw-p-4" data-credit-product-buying-current-user-credit-value="<%= current_user ? current_user.credit_sum : -1 %>" data-controller='credit-product-buying' data-credit-product-buying-current-variant-id-value="<%= @variant_id || @credit_product.credit_variants.first&.id%>" >
    <div class='tw-flex'>
      <div class='tw-flex-1 tw-mr-6'>
        <img class='tw-w-48 tw-h-48 tw-object-cover' data-credit-product-buying-target="variantImage">
      </div>
      <div class='tw-flex-1'>
        <!--details-->
        <h2 class='tw-font-bold tw-text-left tw-text-2xl tw-text-gray-900'><%= @credit_product.title%></h2>
        <div>
          <%= markdown @credit_product.description%>
        </div>
        <hr>
        <div>
          <ul class='tw-p-0 tw-flex tw-list-none tw-items-center' data-credit-product-buying-target='variants'>
            <%@credit_product.credit_variants.each do |variant|%>
              <li class='mr-3 variant tw-cursor-pointer' data-price='<%=variant.credit_price%>' data-image='<%= variant.image_url%>' data-id='<%=variant.id%>' data-action='click->credit-product-buying#selectVariant'>
                <img src="<%= variant.image_url%>" class='tw-w-5 tw-h-5 tw-object-cover' alt="<%= variant.title%>">
                <%= variant.title %>
              </li>
            <%end %>
          </ul>
        </div>
        <div class='tw-flex tw-items-center tw-justify-between'>
          <p class='tw-py-auto'>积分: <span data-credit-product-buying-target="creditPrice"><%= @credit_product.credit_variants.first.credit_price%></span></p>
          <%= link_to  "购买", "", class: "btn btn-primary", "data-credit-product-buying-target" => "buyButton" %>
        </div>
      </div>
    </div>
  </div>
</div>
